In [2]:
import pandas as pd

df = pd.read_csv('outputs/01012023-07212023-labeler-output.csv', low_memory=False)

In [3]:
df.head()

,output_file_s3_key,submissionTime,timeSpentInSeconds,sub,identity_issuer,True Value 7,Change Reason 7,True Value 4,True Value 2,Change Reason 4,...,True Value 11,True Value 12,True Value 8,True Value 13,True Value 9,Change Reason 11,Change Reason 12,Change Reason 13,Change Reason 8,Change Reason 9
0,a2i/output/0601backlog-1-total-of-10-batches/2...,2023-06-20T19:24:41.409Z,7.097,48f8159a-cd7b-45b4-8eb8-1a4a960fc0c1,https://cognito-idp.us-west-2.amazonaws.com/us...,Y0020_WCM_75109E_C INTERNAL APPROVED 06092021 ...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,a2i/output/0601backlog-1-total-of-10-batches/2...,2023-06-20T19:34:08.859Z,47.331,6437589f-5076-421d-85cb-ab0fbab3f037,https://cognito-idp.us-west-2.amazonaws.com/us...,Y0020_WCM_75109E_C INTERNAL APPROVED 06092021 ...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,a2i/output/0601backlog-1-total-of-10-batches/2...,2023-06-20T19:13:46.414Z,8.777,3614c9ee-425a-464e-997e-81477a7d1e07,https://cognito-idp.us-west-2.amazonaws.com/us...,Y0020_WCM_75109E_C INTERNAL APPROVED 06092021 ...,F,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,a2i/output/0601backlog-1-total-of-10-batches/2...,2023-06-20T19:45:48.625Z,10.953,3614c9ee-425a-464e-997e-81477a7d1e07,https://cognito-idp.us-west-2.amazonaws.com/us...,Y0020_WCM_75109E_C INTERNAL APPROVED 06092021 ...,F,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,a2i/output/0601backlog-1-total-of-10-batches/2...,2023-06-20T20:30:33.865Z,15.119,3614c9ee-425a-464e-997e-81477a7d1e07,https://cognito-idp.us-west-2.amazonaws.com/us...,Y0020_WCM_75109E_C INTERNAL APPROVED 06092021 ...,F,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
restrict_1 = df[df['sub'] == '0f5910e7-bca8-4364-bcfa-9eec0253085']
restrict_2 = df[df['sub'] == 'b149f627-83f8-4f38-ba25-9afcea08b4fb']

In [8]:
restrict_1.describe()

       timeSpentInSeconds
count                 0.0
mean                  NaN
std                   NaN
min                   NaN
25%                   NaN
50%                   NaN
75%                   NaN
max                   NaN